<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanle.legou.customer.dao.master.CustomerDao">

    <select id="getCustomerInfoByCustomerId" parameterType="java.lang.Long" resultType="com.yanle.legou.customer.domain.Customer">
        select * from customer_base_info WHERE id=#{cusId};
    </select>

</mapper>